.toggleMargins {
    margin-top: 3%;
    margin-bottom: 3%;
}

.barBox {
    display: block;
    width: 70%;
    height: 90%;
    margin: 0 auto;
}

.leftBarTab {
    display: inline-block;
    float: left;

}

.rightBarTab {
    display: inline-block;
    float: right;
}