.color-box {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.single-box {
    margin-right: 8px;
    margin-bottom: 10px;
}

.groups-legend {
    display: flex;
    justify-content: space-around;
}

.group-navigation-management {
    margin-top: 20px;
    margin-bottom: 20px;
}

.groups-column span {
    margin-left: 10px;
}

.hidden-name-change {
    text-align: center;
    align-content: center;
}

.group-change-input {
    width: 1000px;
}

.main-bar {
    display: flex;
    justify-content: space-between;
}

.groups-input-handler {
    width: 200px;
    margin: 0 auto;
}