.class-preview-line {
    text-align: center;
    border-radius: 10px;
    padding: 20px 20px;
    background: #ededed;
    float: left;
    position: relative;
    display: inline;
    margin: 15px;
    max-width: 120px;
}
