.account-navigation {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

@media print {
    .account-navigation {
        display: none;
    }
}

.account-workplace {
    width: 100%;
    margin: 30px auto;
}

.account-inner-workplace {
    display: flex;
    justify-content: center;
}

.account-inner-workplace div:first-child {
    text-align: center;
    width: 100%;
}