.site-header {
    font-style: italic;
    color: grey;
    font-size: 10px;
    margin: 0 auto;
    opacity: 0.5;
}

.qr-code-field {
    width: 200px;
    height: 200px;
}

@media print {

    .test {
        display: block;
    }
}