.site-header {
    text-align: center;
    align-content: center;
    display: block;
    font-style: italic;
    color: grey;
    font-size: 10px;
    margin: 0 auto;
    opacity: 0.5;
    width: 100%;
}

.main-header {
    display: block;
    height: 200px;
}

.name-header, .class-header, .number-header, .group-header {
    display: block;
    margin-left: 15px;
}

.qr-code-field {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: 25px;
}

.content-headers {
    display: flex;
    justify-content: space-around;
}

.headers-floating {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    
}

.blank-lines-block {
    text-align: left;
    width: 100%;
    height: 650px;
}

.final-step-header {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

.blank-for-print {
    text-align: justify;
}

.test-header-divider {
    border-top: 1px solid #8c8b8b;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media print {

    @page {
        margin: 0.5cm;
    }

    .test {
        display: block;
    }
    
    .blank-for-print {
        display: block;
        margin-top: 10px;
    }
    
    .navigation-main {
        position: absolute;
        top: -90px;
    }

    .final-step-header {
        display: none;
    }

    .blank-background-paper {
    }

}