.site-header {
    font-style: italic;
    color: grey;
    font-size: 10px;
    margin: 0 auto;
    opacity: 0.5;
}

.qr-code-field {
    width: 200px;
    height: 200px;
    background: black;
}

@media print {

    .test {
        display: block;
    }
    
    .blank-for-print {
        display: block;
        margin-top: 10px;
    }
    
    .navigation-main {
        position: absolute;
        top: -220px;
    }
}