
.blank-result-list {
    width: 505px;
    margin: 0 auto;

    text-align: center;
}

.result-list {
    text-align: unset;
}
.result-list li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9e9e9e;
}

.result-li-box {
    width: 250px;
}

.result-button {
    float: right;
}

.blank-result-name {
    margin-top: 3%;
    float: left;
}

.result-list li div {
    margin: 5px;
}

.result-list li div button div {
    margin: 0;
}