.result-list-classes li {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #9e9e9e;
}

.result-li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

.result-li:last-child {
    border: none;
}

.result-li:first-child {
    background: rgb(0, 188, 212);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    border: none;
    border-radius: 2px;
}

.result-li .class-mark-result-list {
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: space-between;
    width: 400px;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.result-li .class-mark-result-list:hover {
    font-size: 30px;
    background: #f6f6f6;
}

.class-mark-result-list-name-header {
    float: left;
    border-right: solid 2px white;
    padding-right: 15px;
}

.class-mark-result-list-mark-header {
    float: right;
    border-left: solid 2px white;
    padding-left: 15px;
}

.class-mark-result-box-headers {
    width: 400px;
}

.class-mark-result-list-name-header, .class-mark-result-list-mark-header {
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.chart-box {
    display: flex;
    justify-content: space-around;
}